<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
     <div class="show-header">
      <h1><%= @cocktail.name %></h1>
      <%= image_tag "#{@cocktail.photo}"%>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h4 class="show-ingredients"> Ingredients: </h4>
    <% @cocktail.doses.each do |dose| %>

    <p><%= dose.description %> <%= dose.ingredient.name %></p>
    <% end %>
  </div>
</div>
</div>

<div>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.button :submit, "Add Dose", class: "btn btn-primary" %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <% end %>
</div>







